rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to access their own profile pictures
    match /profile_pictures/{userType}/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to access their own reports
    match /reports/{userType}/{userId}/{reportType}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to access their own certificates
    match /certificates/{userType}/{userId}/{certificateType}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to access their own test files
    match /test/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Deny all other access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
} 